<main class="main bg-gradient-to-br from-zinc-950 via-slate-900 to-zinc-950 w-screen min-h-screen overflow-x-hidden">
  <app-header></app-header>

  <div [hidden]="ui.activeSection() !== 'hero'">
    <app-hero></app-hero>
  </div>
  <div [hidden]="ui.activeSection() !== 'features'">
    <app-features></app-features>
  </div>
  <div [hidden]="ui.activeSection() !== 'dashboard'">
    <app-dashboard></app-dashboard>
  </div>
  <div [hidden]="ui.activeSection() !== 'transactions'">
    <app-transactions></app-transactions>
  </div>
  <div [hidden]="ui.activeSection() !== 'investments'">
    <app-investments></app-investments>
  </div>

  <app-stats></app-stats>
  <app-footer></app-footer>
  <app-modal *ngIf="ui.isModalOpen()"></app-modal>
</main>

<router-outlet />